@import url("https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
